<h1>Please Login Below</h1><br>
<form method="Post" action="/account">
    <label for "username">Username:</label>
      <input type="text" name="username"/><br>

    <label for "password">Password:</label>
      <input type="password" name="password"/><br>

      <p>Passwords must be at least 6 characters</p>

      <input type="submit" value="Login"
</form>
