<h1>Signup to Track Your Movie Madness!</h1><br>
<form method="Post" action="/signup">
    <p><label for "username">Username:</label>
    <input type="text" name="username"/></p>

    <p><label for "password">Password:</label>
    <input type="password" name="password" id="password"/></p>

    <p>Passwords must be at least 6 characters</p>

    <p><input type="submit" value="Sign Up"></p>
</form>